POSTGRES_HOST=gAAAAABlZrQTOdHB83YaS69j4MqKHg_b9pg9BLiM2GDXZSjr1TWREqC80PVtIeUKPO2tBDCYagaxSeBAVNVksIxwak9LcvEEEinPSJKptbYleWKr1_vRY5GW5DIqIcV-J7YGKQ7svHvC
POSTGRES_DB=gAAAAABlZrQriMRMph6QxbO61NUQGIWSa0IBrVHHj1S7hLh-x00-CMdyzkAfNJ_kpgUA4u-U66CaVtqTnI0NB1woI04ImwqnVA==
POSTGRES_USER=gAAAAABlZrRcDu1_c0OxZ4G6UGIhmHgFKhWi8ClXJsNian9l-yxDiIyrzOIqYMo911SYkpbdbjbhmAvXpMYMfGCLF4PhdFnsoA==
POSTGRES_PASSWORD=gAAAAABlZrR2uk3R1pBvuJ3snTTpG8roz-W2iFsTfGebhhqCrsOWzFd-0yIdRG_LRLtzEfG4dxj-p-dH-uog6mrAOjxPxZJeoQ==
MYSQL_HOST=gAAAAABlZrSd192rqU2Tv89-hNMqNWMDcTZv7-TI6dx-TGBoJLllMw42w6QVpcqMkZK13vsrYyoKXMI-50_PQGNuS3ljeSnLHoScO81hQe7xiBRf48NDh7-foUfmqIrSP2ABsvlkuhh-UyQddXXP61eMQnKvZ_Pr_A==
MYSQL_PASSWORD=gAAAAABlZrR2uk3R1pBvuJ3snTTpG8roz-W2iFsTfGebhhqCrsOWzFd-0yIdRG_LRLtzEfG4dxj-p-dH-uog6mrAOjxPxZJeoQ==
MYSQL_USER=gAAAAABlZrRcDu1_c0OxZ4G6UGIhmHgFKhWi8ClXJsNian9l-yxDiIyrzOIqYMo911SYkpbdbjbhmAvXpMYMfGCLF4PhdFnsoA==
MYSQL_DB=gAAAAABlZrTQpkJ6VBUwgH4tXw2yo6DxzEd-RffyIcV9m8a-blYcmzRAjv-UqYgkRSh-1yFxlsHfFkQPJ7P3izE3yUXf5SnZnQ==
AWS_ACCESS_KEY=gAAAAABlZrTh-4KtWwo9CgqKNgyARnVDG6dnEyTF8gmpzDFw9RTtCXB9lxMdTwHgXs3D1QHua0JG7alQyvjDX6hY6G0MzVH0Hj40iAF7rZ9VhVS2TNSajOY=
AWS_SECRET_KEY=gAAAAABlZrT6kPpkntlouUy8EKWnPNfjDPsL-fcSG4seIxtPsOZC5Z8Us2fARHMSj3upvclbnLtMwVAUU-Sev4GnYx99sxkFTfza3wekcllpR-Ih1rHHhDOb8HjpgvALcczXS7lH22Qu
AWS_REGION=gAAAAABlZtlg-v5A2jHRdoataMjSzT12sf19sXS7qxsZm6mxgWFLjF3FFfvVEBE1tPLByawSEYKzlvjCteKhzFlLq03fA1iNmg==
SES_SENDER_EMAIL=gAAAAABlZtmPl4y20REbilL4GC4ouli92Xa56oVgI-sCvJa7X5e3Xhg70jLxVbM08I4i8kRwBpxuBMufH9fX1A7w72o-g1wTgVHIVn0BugKNq12Qu1xigbo=
RECEIPIENT_EMAILS=gAAAAABlZtmPl4y20REbilL4GC4ouli92Xa56oVgI-sCvJa7X5e3Xhg70jLxVbM08I4i8kRwBpxuBMufH9fX1A7w72o-g1wTgVHIVn0BugKNq12Qu1xigbo=